.uir-contact-area {
    position: relative;
    z-index: 1;
}
    .uir-contact-area .google-maps {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 470px;
    }
        @media only screen and (max-width: 767px) {
            .uir-contact-area .google-maps {
                height: 280px;
            }
        }
        .uir-contact-area .google-maps iframe {
            width: 100%;
            height: 100%;
            border: none;
        }