.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

/* .black-text {
    color: black !important;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper-gallery {
    margin: 0 20vw;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.preheader {
    background-color: #409d72;
    padding: 10px 0;
    text-shadow: 2px 2px 5px black;
}

ul {
    padding-top: 10px;
    margin: -15px;
}

ul li {
   display: inline-block; 
   padding: 0px 16px;
   font-size: 20px;
   /* text-shadow: 2px 2px 5px black; */
}


ul li a {
    color: #fff;
    cursor: pointer;
}

.top-menu {
    float: right;
    /* margin: 0; */
    font-family: 'Source Code Pro', monospace;
    /* font-size: 20px; */
    color: #fff;
    font-display: flex;
    text-shadow: 2px 2px 5px black;
}

.site-footer {
    background-color: #409d72;
    padding: 20px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.copyright {
    font-display: flex;
    font-size: 10px;
    text-align: center;
}

.content-wrapper{
    width: 80%;
    margin: 4% 10% 5% 10%;
}

.content-wrapper img{
    width: 100%;
}

.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -40%;
}

.text-wrapper h1{
    text-align: center;
    color: black;
    font-size: 10vw;
}